In [18]:
# Libraries
import pandas as pd

# Read the JSON file
df = pd.read_json('sample_data.json')
cols = df.columns.to_list()
print(cols)

movie_plot_data = df[['Title', 'Plot']]
movie_plot_data

['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster', 'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type', 'DVD', 'BoxOffice', 'Production', 'Website', 'Response']

                     Title                                               Plot
0             12 Angry Men  The defense and the prosecution have rested, a...
1               12 Monkeys  James Cole, a prisoner of the state in the yea...
2         12 Years a Slave  Based on an incredible true story of one man's...
3                     1917  April 1917, the Western Front. Two British sol...
4    2001: A Space Odyssey  "2001" is a story of evolution. Sometime in th...
..                     ...                                                ...
295  X-Men: The Last Stand  When a "cure" is created, which apparently can...
296       X2: X-Men United  Several months have passed since the X-Men def...
297                 Zodiac  A serial killer in the San Francisco Bay Area ...
298             Zombieland  Searching for family. In the early twenty-firs...
299               Zootopia  From the largest elephant to the smallest shre...

[300 rows x 2 columns]