In [ ]:
# Libraries
import pandas as pd
import numpy as np
from sentence_transformers import SentenceTransformer
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import normalize
from sklearn.cluster import KMeans, DBSCAN
from sklearn.manifold import TSNE


# SBERT Model
model = SentenceTransformer('all-MiniLM-L6-v2')

# Read the JSON file
df = pd.read_json('sample2_data.json')
cols = df.columns.to_list()
print(cols)

movie_plot_data = df[['Title', 'Plot']]
movie_plot_data

['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster', 'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type', 'DVD', 'BoxOffice', 'Production', 'Website', 'Response', 'totalSeasons']

,Title,Plot
0,10 Cloverfield Lane,"After getting in a car accident, Michelle awak..."
1,10 Things I Hate About You,"Adapted from William Shakespeare's play ""The T..."
2,12 Angry Men,"The defense and the prosecution have rested, a..."
3,12 Monkeys,"James Cole, a prisoner of the state in the yea..."
4,12 Years a Slave,Based on an incredible true story of one man's...
...,...,...
1527,Zombieland,Searching for family. In the early twenty-firs...
1528,Zombieland: Double Tap,One long decade after the post-apocalyptic eve...
1529,Zoolander,Derek Zoolander is VH1's three time male model...
1530,Zootopia,From the largest elephant to the smallest shre...
1531,xXx,"Xander ""XXX"" Cage is a thrill seeker who until..."

In [28]:
plots = movie_plot_data["Plot"]

# Encode the plots
# embeddings_pre = model.encode(plots)
# embeddings = normalize(embeddings_pre, norm='l2')
# for plot, embedp, embedn in zip(plots[0:5], embeddings_pre[0:5], embeddings[0:5]):
#     print(f"Plot: {plot}")
#     print(f"Embedding: {embedp[:5]}...")  # Print first 5 dimensions of the embedding
#     print(f"Embedding: {embedn[:5]}...")  # Print first 5 dimensions of the embedding
#     print(f"Embedding Length: {len(embedn)}")
#     print("-" * 50)

embeddings = model.encode(plots)
for plot, embed in zip(plots[0:5], embeddings[0:5]):
    print(f"Plot: {plot}")
    print(f"Embedding: {embed[:5]}...")  # Print first 5 dimensions of the embedding
    print(f"Embedding Length: {len(embed)}")
    print("-" * 50)

Plot: After getting in a car accident, Michelle awakens to find herself in a mysterious bunker with two men named Howard and Emmett. Howard offers her a pair of crutches to help her remain mobile with her leg injury sustained from the car crash and tells her to "get good on those" before leaving the bunker. She has been given the information that there has been an alien attack and the outside world is poisoned. However, Howard and Emmett's intentions soon become questionable and Michelle is faced with a question: Is it better in here or out there?
Embedding: [ 0.02052975  0.05052302 -0.01969787  0.02785595  0.01920985]...
Embedding Length: 384
--------------------------------------------------
Plot: Adapted from William Shakespeare's play "The Taming of the Shrew," 10 Things I Hate About You starts off with Cameron, new student at Padua High, sitting in the office of the quirky guidance counselor Ms. Perky. He is then shown around the school by Michael, who will become his best friend. During his tour is when Cameron first sees Bianca Stratford, a beautiful sophomore with one problem: she isn't allowed to date. And neither is her "shrew" sister, Katarina, a senior who loves indie rock and feminist prose and hates conformity. But Kat and Bianca's father alters his house rule: now, Bianca can date... as long as Kat has a date, too. Now, in order for Cameron to date Bianca, he has to find someone to date Kat. So Michael helps him enlist the help of pretty-boy/jerk/model Joey Donner, tricking him into thinking that *he* will get to take Bianca out if he pays someone to take out Kat. His choice: Patrick Verona, a bad-boy with a mysterious reputation--some say he ate a live duck once, others that he lit a state trooper on fire, and even more claim that he had a brief porn career. Will Patrick win Kat's heart? Will Cameron win Bianca's? Or will everything hit the fan...?
Embedding: [-0.04032626  0.02581772  0.1129264  -0.03718629 -0.06276324]...
Embedding Length: 384
--------------------------------------------------
Plot: The defense and the prosecution have rested, and the jury is filing into the jury room to decide if a young man is guilty or innocent of murdering his father. What begins as an open-and-shut case of murder soon becomes a detective story that presents a succession of clues creating doubt, and a mini-drama of each of the jurors' prejudices and preconceptions about the trial, the accused, AND each other. Based on the play, all of the action takes place on the stage of the jury room.
Embedding: [ 0.03488188  0.05331693 -0.02820219 -0.01924427  0.08393849]...
Embedding Length: 384
--------------------------------------------------
Plot: James Cole, a prisoner of the state in the year 2035, can earn parole if he agrees to travel back in time and thwart a devastating plague. The virus has wiped out most of the Earth's population and the remainder live underground because the air is poisonous. Returning to the year 1990, six years before the start of the plague, Cole is soon imprisoned in a psychiatric facility because his warnings sound like mad ravings. There he meets a scientist named Dr. Kathryn Railly and Jeffrey Goines, the mad son of an eminent virologist. Cole is returned by the authorities to the year 2035, and finally ends up at his intended destination in 1996. He kidnaps Dr. Railly in order to enlist her help in his quest. Cole discovers graffiti by an apparent animal rights group called the Army of the Twelve Monkeys, but as he delves into the mystery, he hears voices, loses his bearings, and doubts his own sanity. He must figure out if Goines, who seems to be a raving lunatic, holds the key to the puzzle.
Embedding: [-0.10962914 -0.04724322 -0.01775856 -0.03410765 -0.01305718]...
Embedding Length: 384
--------------------------------------------------
Plot: Based on an incredible true story of one man's fight for survival and freedom. In the pre-Civil War United States, Solomon Northup, a free black man from upstate New York, is abducted and sold into slavery. Facing cruelty personified by a malevolent slave owner, as well as unexpected kindnesses, Solomon struggles not only to stay alive, but to retain his dignity. In the twelfth year of his unforgettable odyssey, Solomon's chance meeting with a Canadian abolitionist will forever alter his life.
Embedding: [-0.04898972  0.11122064 -0.09201999  0.0260683   0.0235031 ]...
Embedding Length: 384
--------------------------------------------------

In [ ]:
# DBSCAN Clustering
dbscan = DBSCAN(eps=0.5, min_samples=10, metric='cosine')
clusters = dbscan.fit_predict(embeddings)
print(set(clusters))

noise = np.where(clusters == -1)[0]  # Outliers
print(f"Noise: {len(noise)}")
embeddings_no_noise = np.delete(embeddings, noise, axis=0)

tsne = TSNE(n_components=2, random_state=42)
embeddings_2d = tsne.fit_transform(embeddings_no_noise)
tsne = TSNE(n_components=3, random_state=42)
embeddings_3d = tsne.fit_transform(embeddings_no_noise)


fig = plt.figure(figsize=(10, 8))
ax = fig.add_subplot(111, projection='3d')
scatter = ax.scatter(embeddings_3d[:, 0], embeddings_3d[:, 1], embeddings_3d[:, 2], c=clusters[clusters!=-1], cmap='viridis', marker='o', s=10, alpha=0.5)
fig.colorbar(scatter, ax=ax, label='Cluster')
plt.show()

TypeError: HDBSCAN.__init__() got an unexpected keyword argument 'eps'

In [ ]:
cluster_4_inds = np.where(clusters == 4)[0]
movie_plot_data.iloc[cluster_4_inds]

# 
# cluster_noise_inds = np.where(clusters == -1)[0]
# movie_plot_data.iloc[cluster_noise_inds].tail(10)

,Title,Plot
1010,Solo: A Star Wars Story,During an adventure in the criminal underworld...
1038,Star Wars: Episode I - The Phantom Menace,Two Jedi escape a hostile blockade to find all...
1039,Star Wars: Episode II - Attack of the Clones,"Ten years after initially meeting, Anakin Skyw..."
1040,Star Wars: Episode III - Revenge of the Sith,"As the Clone Wars nears its end, Obi-Wan Kenob..."
1041,Star Wars: Episode IV - A New Hope,Luke Skywalker joins forces with a Jedi Knight...
1042,Star Wars: Episode IX - The Rise of Skywalker,The surviving Resistance faces the First Order...
1043,Star Wars: Episode V - The Empire Strikes Back,After the Empire overpowers the Rebel Alliance...
1044,Star Wars: Episode VI - Return of the Jedi,"After rescuing Han Solo from Jabba the Hutt, t..."
1045,Star Wars: Episode VII - The Force Awakens,"As a new threat to the galaxy rises, Rey, a de..."
1046,Star Wars: Episode VIII - The Last Jedi,Rey develops her abilities with the help of Lu...