In [ ]:
import json
import pandas as pd
import numpy as np

df = pd.read_json("./movie-classification/movie_plot_emotions.json")[["Title", "Genre", "AggregatedEmotion"]]

lst = ['Drama', 'Music', 'Animation', 'News', 'Musical', 'Biography', 'Action', 'Comedy', 'Film-Noir', 'Short', 'Documentary', 'Thriller', 'Sci-Fi', 'Adventure', 'War', 'Horror', 'Western', 'Mystery', 'Family', 'History', 'Crime', 'Sport', 'Romance', 'Fantasy']

df["SadHappy"] = df["AggregatedEmotion"].apply(lambda x: x["Sad-Happy"])
df["TenseCalm"] = df["AggregatedEmotion"].apply(lambda x: x["Tense-Calm"])
df['genre_indices'] = df['Genre'].apply(lambda x: [lst.index(g) for g in x.split(", ") if g in lst])
df['genre_row'] = df['genre_indices'].apply(lambda x: [1 if i in x else 0 for i in range(len(lst))])
df["matrixrow"] = df.apply(lambda row: [row["SadHappy"], row["TenseCalm"]] + row["genre_row"], axis=1)

df[["Title", "matrixrow"]]

,Title,matrixrow
0,#Alive,"[-0.633895546197891, -0.9801312712952491, 1, 0..."
1,'71,"[-0.432601511478424, -0.9633340546861291, 1, 0..."
2,'83,"[0.16981316357851, -0.6182215288281441, 1, 0, ..."
3,10 Cloverfield Lane,"[-0.241608068346977, -0.8770691128447651, 1, 0..."
4,10 Things I Hate About You,"[-0.13580311089754102, -0.5235461471602321, 1,..."

In [68]:
X = np.array(df["matrixrow"].tolist())
t = np.array([0.6, 0.7, -1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, -1, 0, 0, 0, -1, 0, 0, 0, 1, 0, 0]).T

X@t

array([-2.06642922, -1.93389475, -0.33086717, -1.75891322, -0.44796417])