In [69]:
import json
import pandas as pd
import numpy as np

df = pd.read_json("../movie_emotions1.json")[["Title", "Genre", "AggregatedEmotion"]]

lst = ['Drama', 'Music', 'Animation', 'News', 'Musical', 'Biography', 'Action', 'Comedy', 'Film-Noir', 'Short', 'Documentary', 'Thriller', 'Sci-Fi', 'Adventure', 'War', 'Horror', 'Western', 'Mystery', 'Family', 'History', 'Crime', 'Sport', 'Romance', 'Fantasy']

df["SadHappy"] = df["AggregatedEmotion"].apply(lambda x: x["Sad-Happy"])
df["TenseCalm"] = df["AggregatedEmotion"].apply(lambda x: x["Tense-Calm"])
df['genre_indices'] = df['Genre'].apply(lambda x: [lst.index(g) for g in x.split(", ") if g in lst])
df['genre_row'] = df['genre_indices'].apply(lambda x: [1 if i in x else 0 for i in range(len(lst))])
df["matrixrow"] = df.apply(lambda row: [row["SadHappy"], row["TenseCalm"]] + row["genre_row"], axis=1)

df[["Title", "matrixrow"]]

,Title,matrixrow
0,#Alive,"[-0.633895546197891, -0.9801312712952491, 1, 0..."
1,'71,"[-0.432601511478424, -0.9633340546861291, 1, 0..."
2,'83,"[0.16981316357851, -0.6182215288281441, 1, 0, ..."
3,10 Cloverfield Lane,"[-0.241608068346977, -0.8770691128447651, 1, 0..."
4,10 Things I Hate About You,"[-0.13580311089754102, -0.5235461471602321, 1,..."
...,...,...
4917,"tick, tick... BOOM!","[-0.00396691262722, -0.710092295426875, 1, 0, ..."
4918,xXx,"[0.38980042189359604, -0.76474779099226, 1, 0,..."
4919,xXx: Return of Xander Cage,"[0.362756662070751, -0.8948586285114281, 0, 0,..."
4920,xXx: State of the Union,"[0.008765056729316, -0.7029129341244691, 0, 0,..."
4921,Æon Flux,"[-0.020714223384857, -0.31618940085172603, 0, ..."

In [92]:
X = np.array(df["matrixrow"].tolist())
t = np.array([-0.9, -0.7, 1, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]).T

array = X@t



res_df = pd.DataFrame(array, index=df["Title"], columns=["Value"])
res_df_sorted = res_df.sort_values(by="Value", ascending=False)
res_df_sorted

                        Value
Title
Diabolique           2.550121
Lilya 4-Ever         2.549353
Dead Man Walking     2.545445
Kill List            2.544510
The 400 Blows        2.541220
...                       ...
Ferdinand           -1.009169
Vicky Donor         -1.027805
Serial Bad Weddings -1.034098
Down with Love      -1.078100
Maverick            -1.089924

[4922 rows x 1 columns]